asgiref==3.2.7
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
Django==3.0.5
docx2txt==0.8
ex==1.0.0
Flask==1.1.2
Flask-Cors==3.0.10
h5py==2.10.0
html5lib==1.0.1
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.1
Keras==2.4.3
kiwisolver==1.2.0
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.2.1
nltk==3.5
numpy==1.18.2
pandas==1.0.3
pandas-datareader==0.8.1
parsel==1.6.0
Pillow==7.1.2
public==2019.4.13
pycparser==2.20
pygame==1.9.6
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
query-string==2019.4.13
regex==2020.11.13
request==2019.4.13
requests==2.23.0
scikit-learn==0.24.1
scipy==1.5.3
selenium==3.141.0
self==2019.4.13
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
threadpoolctl==2.1.0
tqdm==4.59.0
urllib3==1.25.8
w3lib==1.22.0
webencodings==0.5.1
Werkzeug==1.0.1
